body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #151859;
    margin: 0;
    padding: 0;
}
header {
    background-color: #27368c;
    color: #590f0f;
    font-size: 1.9rem;
    text-align: center;
    font-family: 'Mifuente';
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historia {
    border-left: 15px solid #590f0f;
    padding-right: 15px;
    border-right: 15px solid #590f0f;
    padding-right: 15px;
    text-align: center;
}
 
.trayectoria {
    border-left: 15px solid #590f0f;
    padding-right: 15px;
    border-right: 15px solid #590f0f;
    padding-right: 15px;
    text-align: center;
}

.contacto {
    border-left: 15px solid #590f0f;
    padding-right: 15px;
    border-right: 15px solid #590f0f;
    padding-right: 15px;
    text-align: center;
}

footer {
    background-color: #151859;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.blanco {
    color: #f2f2f2;
    font-size: 1.4rem;
    font-family: 'Mifuente';
}

@font-face {
    font-family: 'Mifuente';
    src: url('https://fonts.google.com/specimen/Anton');
}  
