body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #151859;
    margin: 0;
    padding: 0;
}
header {
    background-color: #27368c;
    color: white;
    text-align: center;
    padding: 20px;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.historia {
    border-left: 5px solid #731010;
    padding-left: 15px;
}
.trayectoria {
    border-left: 5px solid #590f0f;
    padding-left: 15px;
}
footer {
    background-color: #151859;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}